style.
  html,body,webview {
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
  }

  .half {
      height: 50%;
      display: block;
  }

.half
    webview#webview1(src=main[0].site_url)
.half
    webview#webview2(src=main[1].site_url)